<div class="container content__padding">
  <div class="row g-0">
    <div class="col-sm-12 col-md-6 col-lg-12">
      <div class="container">
        <div class="row detail__pet">
          <div class="col-md-3 col-lg-3 detail__pet-img">
          <img src="{{pet.img}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5 col-lg-5">
          <div class="card-body">
            <h3 class="detail__pet-title">{{pet.name}}</h3>
            <h5 class="detail__pet-text">Giống: {{pet.sex}}</h5>
            <h5 class="detail__pet-text">Tuổi: {{pet.age}}</h5>
            <h5 class="detail__pet-title">Giá: {{pet.price}}đ</h5>
            <div class="card text-dark bg-light mb-3 detail__pet-description">
            <div class="card-header">Đặc quyền đi kèm</div>
              <div class="card-body">
                <ul>
                  <li class="detail__pet-des">Trả góp LS 0% trong 12 tháng</li>
                  <li class="detail__pet-des">Bảo hành lên tới 365 ngày.</li>
                  <li class="detail__pet-des">Bảo hiểm sức khỏe lên tới 1,000,000đ</li>
                  <li class="detail__pet-des">Miễn phí vận chuyển toàn quốc</li>
                  <li class="detail__pet-des">Giảm 500,000đ khi mua bé thứ 2.</li>
                  <li class="detail__pet-des">Giảm trọn đời 5% khi mua phụ kiện.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>