<div class="container content__padding">
  <div class="row g-0">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="container">
            <div class="row detail__product">
              <div class="col-md-4 col-lg-4 detail__product-img">
                <div class = "product-imgs">
              <div class = "img-display">
                <div class = "img-showcase">
                  <img src = "{{pet.img1}}" alt = "shoe image" class="img-fluid">
                  <img src = "{{pet.img2}}" alt = "shoe image" class="img-fluid">
                  <img src = "{{pet.img3}}" alt = "shoe image" class="img-fluid">
                  <img src = "{{pet.img4}}" alt = "shoe image" class="img-fluid">
                </div>
              </div>
              <div class = "img-select">
                <div class="container">
                  <div class="row">
                  <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class = "img-item">
                      <a href = "#" data-id = "1">
                        <img src = "{{pet.img1}}" alt = "shoe image" class="img-fluid">
                      </a>
                    </div>
                  </div>

                  <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class = "img-item">
                      <a href = "#" data-id = "2">
                        <img src = "{{pet.img2}}" alt = "shoe image" class="img-fluid">
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class = "img-item">
                      <a href = "#" data-id = "3">
                        <img src = "{{pet.img3}}" alt = "shoe image" class="img-fluid">
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class = "img-item">
                      <a href = "#" data-id = "4">
                        <img src = "{{pet.img4}}" alt = "shoe image" class="img-fluid">
                      </a>
                    </div>
                  </div>
                </div>
                </div>

                
                
              </div>
            </div>
              </div>
            <div class="col-md-4 col-lg-4">
                <div class="card-body">
                    <h4 class="detail__product-title">{{pet.name}}</h4>
                    <div id="gender">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Đực" checked>
                        <label class="form-check-label detail__product-text" for="inlineRadio1">Đực</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Cái">
                        <label class="form-check-label detail__product-text" for="inlineRadio2">Cái</label>
                      </div>
                    </div>
                    
                    <h4 class="detail__product-text">Tuổi: {{pet.age}}</h4>
                            

                    <div class="detail__cart">
                      <h4 class="detail__product-price">Giá:{{formatCurrecy pet.price}}đ</h4>  
                        <form method="POST" action="/checkout/storeCart" id="form__detail">
                          <input type="hidden" name="name" value="{{pet.name}}">
                          <input type="hidden" name="description" value="Tuổi: {{pet.age}}">
                          <input id="description2" type="hidden" name="description2" value="Giống: Đực">
                          <input type="hidden" name="img" value="{{pet.img}}">
                          <input type="hidden" name="price" value="{{pet.price}}">
                          <input type="hidden" name="quantity" value="1">

                          <button id="detail__btn" class="btn detail__btn" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Thêm vào giỏ hàng</button>
                        </form>

                    </div>
                    <div class="card text-dark bg-light mb-3 detail__product-description">
                    <div class="card-header">Đặc quyền đi kèm</div>
                      <div class="card-body">
                        <ul>
                          <li class="detail__product-des">Trả góp LS 0% trong 12 tháng</li>
                          <li class="detail__product-des">Bảo hành lên tới 365 ngày.</li>
                          <li class="detail__product-des">Bảo hiểm sức khỏe lên tới 1,000,000đ</li>
                          <li class="detail__product-des">Miễn phí vận chuyển toàn quốc</li>
                          <li class="detail__product-des">Giảm 500,000đ khi mua bé thứ 2.</li>
                          <li class="detail__product-des">Giảm trọn đời 5% khi mua phụ kiện.</li>
                        </ul>
                      </div>
                    </div>


                </div>
            </div>
            </div>
          </ul>
      </div>
    </div>
  </div>
</div>

{{!-- Add to Cart --}}


<script>

  //slide
    const imgs = document.querySelectorAll('.img-select a');
    const imgBtns = [...imgs];
    let imgId = 1;

    imgBtns.forEach((imgItem) => {
        imgItem.addEventListener('click', (event) => {
            event.preventDefault();
            imgId = imgItem.dataset.id;
            slideImage();
        });
    });

    function slideImage(){
        const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

        document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
    }

    window.addEventListener('resize', slideImage);
  

  //get gender pet
  var gender = document.getElementById('gender')
  gender.addEventListener('click', function(){
    var rates = document.getElementsByName('gender')
    var rate_value;
    for(var i = 0; i < rates.length; i++){
        if(rates[i].checked){
            rate_value = rates[i].value;
        }
    }
    var des2 = document.getElementById('description2')
    setValue = des2.setAttribute('value','Giống: ' + rate_value)
      
  })



  function up(a, b) {
    var input = b.previousElementSibling;
    var value = parseInt(input.value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    input.value = value;
    updatetotal()
  }

  function down(a, b) {
    var input = b.nextElementSibling;
    var value = parseInt(input.value, 10);
    if (value > 1) {
      value = isNaN(value) ? 1 : value;
      value--;
      input.value = value;
    }
    updatetotal()
  }


  function updatetotal(){
      let total = 0
      let priceElement = document.getElementsByClassName('cart__price')[0]
      let quantityElement = document.getElementsByClassName('qty')[0]
      let price = parseFloat(priceElement.innerText.replace('đ', ''))
      let quantity = quantityElement.value
      total += price * quantity
      document.getElementsByClassName('cart__total-price')[0].innerText = total + ' đ'  
  }



</script>
