
<div class="container content__padding">
    <div class="row cart__detail">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <table class="table">
                <h3>Giỏ hàng của bạn ({{counts}})</h3>
                <thead class="table-secondary">
                    <tr>
                    <td colspan="2" class="modal__title">Sản phẩm</td>
                    <td colspan="1" class="modal__title">Đơn giá</td>
                    <td colspan="1" class="modal__title">Số lượng</td>
                    <td colspan="1" class="modal__title">Thành tiền</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each carts}}
                    <tr>
                    <td colspan="2">
                        <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                            <img src="{{this.img}}" class="img-fluid modal__img" alt="...">
                            </div>
                            <div class="col-lg-9">
                            <p class="color-theme modal__pro">{{this.name}}</p>
                            <div class="container">
                                <div class="row">
                                <div class="col-lg-6">
                                    <p class="modal__des">{{this.description}}</p>
                                </div>
                                <div class="col-lg-6">
                                    <p class="modal__des">{{this.description2}}</p>
                                </div>

                                </div>
                            </div>
                            <button class="modal__delete" data-bs-toggle="modal" data-bs-target="#delete__modal" data-id="{{this._id}}">
                                <i class="ri-close-line"></i>
                                <p>Bỏ sản phẩm</p>
                            </button>


                            </div>
                        </div>
                        
                        </div>
                        
                    </td>
                    <td colspan="1" id="cart__price" class="cart__price color-theme">{{ formatCurrecy this.price}}đ</td>
                    <td colspan="1" class="color-theme">
                        <div id="count" class="counter">
                            <input type='button' id="down" value='-' class='down item' onClick='decreaseCount(event, this)'/>
                            <input type="text" name="quantity" value="{{this.quantity}}" class="num qty" disabled>
                            <input type='button' id="up" value='+' class='up item' onClick='increaseCount(event, this)'/>
                        </div>
                    </td>
                    <td colspan="1" id="cart__total-price" class="cart__total-price color-theme" data-bs-target="{{ pay this.quantity this.price}}">{{formatCurrecy (pay this.quantity this.price)}}đ</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="container">
                <div class="row cart__detail-total">
                    <div class="col-sm-4 col-md-4 col-lg-4 cart__total">
                        <h3>Tổng tiền: </h3>
                        <h3 id="cart__total" class="color-theme"></h3>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="btn__cart">
                            <a href="/checkout/pay" class="btn cart__btn">Tiến hành thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
     
</div>

{{!-- delete form hidden --}}
<form method="POST" name="delete__form"></form>


{{!-- confirm delete --}}
<div id="delete__modal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa bỏ sản phẩm?</p>
      </div>
      <div class="modal-footer">
        <button id="btn__delete" type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa bỏ</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


<script>
    // totalprice
    var priceEle = document.getElementsByClassName('cart__total-price')
    var cartTotal = document.getElementById('cart__total')
    var total = 0
    for(var price of priceEle){
        var priceProduct = price.getAttribute('data-bs-target')
        total += parseInt(priceProduct)
    }
    total = formatDollar(total)
    
    cartTotal.innerHTML = total 

    //format price
    function formatDollar(num) {
        return num.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'});
    }
    //count
    function increaseCount(a, b) {
        var input = b.previousElementSibling;
        var value = parseInt(input.value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        input.value = value;   
        //change value when click
        var attr
        var cartPrice = document.querySelectorAll('.cart__price')
        cartPrice.forEach(function(link){
            link.addEventListener("click",function(e){
                attr = e.currentTarget.value
                console.log(attr)
            });
        });
        
       
    }

    function decreaseCount(a, b) {
        var input = b.nextElementSibling;
        var value = parseInt(input.value, 10);
        if (value > 1) {
            value = isNaN(value) ? 1 : value;
            value--;
            input.value = value;
        }
        

    }


    document.addEventListener('DOMContentLoaded', function(){

        var cartId
        var deleteForm = document.forms['delete__form']
        var deleteModal = document.getElementById('delete__modal')


        // When dialog confirm clicked
        
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            cartId = button.getAttribute('data-id')
            console.log(cartId)
            
            })

            var btnDelete = document.getElementById('btn__delete')
            btnDelete.onclick = function(){
                deleteForm.action = '/checkout/' + cartId + '?_method=DELETE'
                deleteForm.submit()

            }
    })
    

</script>